.dataTable {
  margin: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 300px;
  overflow: scroll;
}

@media (max-width: 1280px) {
  .dataTable {
    max-width: 90%;
  }
}
