.dataTable {
  margin: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.MuiPaper-elevation {
  max-height: 500px;
}

@media (max-width: 1280px) {
  .dataTable {
    max-width: 90%;
  }
}
